<p>
	<strong> Title: </strong>
	<%= @article.title %>
</p>

<p>
<strong> Text: </strong>
	<%= @article.text %>
</p>

<h2> Comments </h2>
<!-- is @article the article model and @article.comments possible because of the association has_many? -->

<!-- <% @article.comments.each do |comment| %>  -->
	
	
	<!-- Code below has been refractored into the _comment.html.erb file -->
	<!-- <p>
		<strong> Commenter: </strong>
		<%= comment.commenter %> comment.commenter is possible since there's a table comments with column commenter
	</p>
	<p>
		<strong>Comment: </strong>
		<%= comment.body %>
	</p> -->
	<!-- <% end %> -->

<!-- Before we were looping through each comment, how does the below code know to render all comments? -->
<!-- Apparently render already loops? -->
<%= render @article.comments %> 

<h2> Add a comment: </h2>
<%= form_for([@article, @article.comments.build]) do |f| %> <!-- are we allowed to say @article.comments since they've been associated in the model? Assuming build just adds the content to the database? -->
	<p>
		<%= f.label :commenter %><br/>
		<%= f.text_field :commenter %> <!-- What is the significance of the f.label/f.text_field having the same :commenter name? is it for clarity or is there an actual association  -->
	</p>
	<p>
		<%= f.label :body %><br/>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>



<%= link_to 'Edit', edit_article_path(@article) %> <!-- What is the parameter @article? -->
<%= link_to 'Back', articles_path %>